<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<h1>Blog</h1>
	<table>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Show</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
		<f:for each="{blogs}" as="blog">
			<tr>
				<td>
					{blog.title}
					<f:if condition="{blog.posts}">
						<f:then>
							<ul>
								<f:for each="{blog.posts}" as="post">
									<li>{post.title}</li>
								</f:for>
							</ul>
						</f:then>
						<f:else>
							<p>There are no posts!<p>
						</f:else>
					</f:if>
				</td>
				<td>{blog.description}</td>
				<td><f:link.action action="show" arguments="{blog:blog}">Show</f:link.action></td>
				<td><f:link.action action="updateForm" arguments="{blog:blog}">Update</f:link.action></td>
				<td>
					<f:link.action class="deleteBlog" action="delete" arguments="{blog:blog.uid}" >Delete</f:link.action>
				</td>
			</tr>
		</f:for>
	</table>
	<f:link.action action="addForm">Form to Add new</f:link.action>
</html>