<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<h1><f:translate id="blog.list.headline"/></h1>
	{namespace simpleblog=Simpleblog\Simpleblog\ViewHelpers}
	<simpleblog:dummyText length="400">
		This is a dummy text!
	</simpleblog:dummyText>
	<h3>
		<simpleblog:tsfe>page|title</simpleblog:tsfe>
	</h3>
	<f:form action="list" additionalAttributes="{role:'form'}">
		<div class="form-inline">
			<div class="form-group">
				<f:form.textfield name="search" value="{search}" class="form-control" />
				<f:form.submit value="{f:translate(id:'blog.list.button.search')}" class="btn-xs btn-primary" />
			</div>
		</div>
	</f:form>
	<ul class="list-group">
		<simpleblog:widget.sort objects="{blogs}" as="sortedBlogs" property="title">
			<f:for each="{sortedBlogs}" as="blog">
				<p>{blog.title}</p>
			</f:for>
		</simpleblog:widget.sort>
	</ul>
	<ul class="list-group">
		<simpleblog:widget.AtoZNav objects="{blogs}" as="filteredBlogs" property="title">
			<simpleblog:widget.sort objects="{filteredBlogs}" as="sortedBlogs" property="title">
				<f:for each="{sortedBlogs}" as="blog">

				</f:for>
			</simpleblog:widget.sort>
		</simpleblog:widget.AtoZNav>
	</ul>
	<table>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Show</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
		<f:for each="{blogs}" as="blog">
			<tr>
				<td>
					{blog.title}
					<f:if condition="{blog.posts}">
						<f:then>
							<ul>
								<f:for each="{blog.posts}" as="post">
									<li>{post.title}</li>
								</f:for>
							</ul>
						</f:then>
						<f:else>
							<p>There are no posts!<p>
						</f:else>
					</f:if>
				</td>
				<td>{blog.description}</td>
				<td><f:link.action action="show" arguments="{blog:blog}">Show</f:link.action></td>
				<td><f:link.action action="updateForm" arguments="{blog:blog}">Update</f:link.action></td>
				<td><f:link.action action="deleteForm" arguments="{blog:blog}">Delete</f:link.action></td>
			</tr>
		</f:for>
	</table>
	<p class="text-muted">Max {settings.blog.max}!</p>
	<f:link.action action="addForm">Form to Add new</f:link.action>
	<f:link.action arguments="{blog: blog}" format="txt">
		[plaintext]
	</f:link.action>
</html>